/*
003C43--darktealgreen
135D66--lightteal
77B0AA--ligth
E3FEF7
*/


/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #135D66;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure that the header is above other content */
  }
  
  .header h2 {
    margin: 0;
    font-size: 30px;
  }

.search-box {
    margin-right: 80px;
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 6px;
    width: 300px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    flex: 1;
  }

  .search-box input[type="text"]:hover{
    padding: 10px;
  }
  
  /* Sidebar styles */
.sidenav {
    position: fixed;
    display: flex;
    text-align: center;
    top: 70px; 
    left: 10px;
    width: 150px;
    height: calc(100% - 180px); 
    background-color: #135D66;
    padding: 50px; 
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mainNav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidenav a{
    display: block;
    padding: 20px 0;
    color: black;
    font-size: 15px;
  }

  .sidenav a:hover{
    color: #77B0AA;
    background-color: #fff;
    font-weight: bold;
  }
  
  .single-nav {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .single-nav:hover {
    color: #ff0;
  }
  
  .single-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .single-nav a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #135D66;
    font-size: 20px;
  }
  
  
  /* Main content styles */
  .main {
    margin-top: 40px;
    margin-left: 220px; /* Adjust according to the width of sidebar */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* ProductCard styles */
  .cards {
    border: 1px solid #ccc;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cards .image img {
    width: 100px;
    height: 80px;
    padding: 40px;
}

.cards .title h1 {
    font-size: 14px;
    color: #003C43;
    margin: 0 2px;
}

.cards .price h3 {
    margin: 1px 0;
    color: #135D66;
    font-size: 15px;
}
  
  .cards button {
    padding: 5px 5px;
    margin-top: 2px;
    background-color: #135D66;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cards button:hover {
    background-color: #77B0AA;
  }
  